body {


 	background-color: #5F9EA0;
 	font-family: arial, Sans-serif;
}

	.container {

		margin-left: auto;
		margin-right: auto; 
		width: 80%;
}

	header, footer {
		background-color: rgba(47,79,79,0.5);
		padding: 5%;
}


div{
 	font-size: 1.2em
 	width: auto;


}

h1,h2{
 	color: #FFFAFA;
 	text-align: center;
 	text-transform: uppercase;
 	margin-bottom: 2%;
 	margin-top: 2%;
 	font-weight: bolder;
 	font-size: 30px;
 	font-family: Courier New, Monospace;
 	width: auto;
 		
}

p{
 	color: #000000;
 	font-weight: bold;
 	text-align: justify;
 	font-size: 20px;
 	margin-top: 2%;
 	margin-bottom: 2%;
 	font-family: arial, Sans-serif;

}

	.centro {
		color: #DCDCDC;
		text-align: center; 
		margin-top: auto;
		margin-bottom: auto;
		width: auto;
	}

ul li, ol li{ 
 	color: #000000;
 	font-weight: bolder;
 	text-align: justify;
 	font-size: 20px;
 	margin-bottom: 2%;
 	width: auto;
}

figure{
 	text-align: center;
 	margin-top: 2%;
 	margin-top: 2%;
}	
 	
img{

 	width: 50%

 }

a: link{
 	color: #800000;
 	background-color: transparent;
 	text-decoration: underline;
 	width: auto;

 }

table {

	color: #000000; 
 	border-collapse: collapse;
 	font-size: 20px;
 	width: 100%;
}

td, th {

	border: 5px double #2F4F4F;
	padding: 12px; 
	font-weight: bold;
 	text-align: justify;
 	font-size: 100%;
 	text-align: center;
}






