html {
	scroll-behavior: smooth;
}

body {


 	background-image: linear-gradient(Sienna, Chocolate);
 	font-family: arial, Sans-serif;
}

	header, footer {
		background-color: rgba(139,69,19);
		padding: 1%;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: 1.5em;
		line-height: 1.5;
	}

	.menu-opcoes{
		text-align: center;
	}

	.fixo {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 1030;
	}

	.ajustes {
		line-height: 1;
		text-align: center;
	}

	.ajustes li:hover {
		background-color: #CD853F;
	}

	.container {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}

@media screen and (max-width: 599px) {
	.container{
		margin-top:65%;}
	}

@media screen and (min-width: 600px) {
	.container{
		margin-top:40%;}
	}

@media only screen and (min-width: 768px) {
	.container{
		margin-top:15%;}

		header {
			flex-direction: row;
			position: relative;
		}

		.menu-opcoes {
			position: absolute;
			right: 5%;
			top: 50%;
		}

		.menu-opcoes ul li {
			display: inline;
			margin-left: 10px;
		}
	}

h1{ 

	font-size: 2em;
  	color: white;
  	font-family: Courier New, Monospace;
  	text-shadow: 2px 2px 4px #000000;
  	background-color: #8B4513;
  	animation-name: example;
  	animation-duration: 4s;
}

	 @keyframes example {
  	from {background-color: #8B4513;}
  	to {background-color: #CD853F;}
}

}

h2{
 	font-size: 1.5em;			

}

.titulos{
	color: #FFFAFA;
 	text-align: center;
 	margin-bottom: 2%;
 	margin-top: 2%;
 	font-weight: bolder;

}

p{
 	color: #000000;
 	font-weight: bolder;
 	text-align: justify;
 	font-size: 20px;
 	margin-top: 1.5%;
 	margin-bottom: 1.5%;

}

.listastexto {
	text-decoration: underline;
	color: #000000
	font-weight: bolder;
	margin-top: 1;
	margin-bottom: 1;
	font-size: 1em;
}

.centro {
		color: #FFFAFA;
		text-align: center; 
	}



figure{
 	text-align: center;
}	
 	
.imgtexto{

 	width: 60%;
 }


a: link{
 	color: #800000;
 	background-color: transparent;
 	text-decoration: underline;

 }

a:visited {
  color: #fff;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #000000;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

table {

	color: #000000; 
 	border-collapse: collapse;
 	width: 100%;
 	font-weight: bold;
}

td, th {

	border: 5px double #CD853F;
	padding: 12px; 
 	text-align: center;
}
tr:nth-child(even) {
	background:#FFDEAD;

}